// Colors
// Primary
$primary-beaver: #9e7f66;
$primary-cod: #111111;

// Secondary
$secondary-mirage: #17192b;
$secondary-ebony: #242b37;
$secondary-shuttle: #5c6779;

// Other colors
$white: #fff;

// Font
$font-family: 'Spartan', sans-serif;
$weight-light: 300;
$weight-regular: 400;
$weight-semi-bold: 600;
$weight-bold: 700;