body {
    background: yellow;

    @include devices(tablet) {
        background: blue;
    }

    @include devices(mobile) {
        background: aqua;
    }

    @include devices(desktop-large) {
        background: purple;
    }
    @include devices(desktop-extra-large) {
        background: black;
    }
}
